.DS_Store
finalProject.db
WSJ/archiveArticleData.json
WSJ/wsj_article_data.csv
NYTimes/nytimes_article_data.csv
NYTimes/nytimes_urls.csv
Kaggle/cleaned_kaggle_news.csv
Kaggle/Fake.csv
Kaggle/True.csv
Kaggle/.cleaned_kaggle_news.csv.icloud
Kaggle/.Fake.csv.icloud
Kaggle/.True.csv.icloud
_pycache_
